.ModuleMember .pageinfo {text-align:center; font-family:verdana; color:#2f2f2f; font-size:10px;}
.ModuleMember .category {color:#666666;}
.ModuleMember .save {font-famliy:verdana; font-size:11px; font-weight:bold; color:#0060FF;}
.ModuleMember .use {font-famliy:verdana; font-size:11px; font-weight:bold; color:#EF0000;}
.ModuleMember .number {font-family:tahoma; font-size:11px;}

.ModuleMember .pointTable {width:100%; table-layout:fixed; font-family:NanumGothicWeb; font-size:12px;}
.ModuleMember .pointTable .sectionBar {background:#a4b4cd; height:2px; overflow:hidden;}
.ModuleMember .pointTable .sectionEnd {height:3px; background:#E5E5E5; overflow:hidden;}
.ModuleMember .pointTable .sectionEnd DIV {height:1px; overflow:hidden; border-bottom:2px solid #f4f4f4;}
.ModuleMember .pointTable .splitBar {background:#cfdbe7; height:1px; overflow:hidden;}
.ModuleMember .pointTable .headerCell {height:36px; padding:0px 10px 0px 10px; font-weight:bold; background:#f8f8f9; color:#758191; text-align:center;}
.ModuleMember .pointTable .bodyCell {padding:12px;}
.ModuleMember .pointTable .bodyCell DIV {white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ModuleMember .pointTable .bodyCell DIV.reference {background:url(./images/attach.png) no-repeat 0 50%; padding-left:20px;}
.ModuleMember .pointTable .bodyCell DIV A {font-weight:bold; color:#083772; text-decoration:none;}
.ModuleMember .pointTable .bodyCell DIV A:HOVER {font-weight:bold; color:#083772; text-decoration:underline;}

.ModuleMember .pageinfo {text-align:center; font-family:verdana; color:#2F2F2F; font-size:10px;}