.ModuleMember .listbar {height:32px; background:url(./images/listbar_bg.gif);}
.ModuleMember .listbar .left {background:url(./images/listbar_left.gif);}
.ModuleMember .listbar .right {background:url(./images/listbar_right.gif);}
.ModuleMember .listbar .text {font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; font-size:11px; font-weight:bold; color:#666666; text-align:center;}
.ModuleMember .listrow {height:28px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; font-size:12px;}
.ModuleMember .listrow:hover {background:#F4F4F4;}
.ModuleMember .listrow .number {font-family:tahoma; font-size:11px;}
.ModuleMember .listrow A:link {color:#2F2F2F; text-decoration:none;}
.ModuleMember .listrow A:hover {color:#82C118; text-decoration:underline;}
.ModuleMember .listrow A:visited {color:#2F2F2F; text-decoration:none;}
.ModuleMember .listrow A:active {color:#2F2F2F; text-decoration:none;}
.ModuleMember .listrow .ment {font-family:tahoma; font-size:10px; color:#FA6F46;}
.ModuleMember .listrowbar {height:1px; overflow:hidden; background:#E5E5E5;}
.ModuleMember .pageinfo {text-align:center; font-family:verdana; color:#2F2F2F; font-size:10px;}
.ModuleMember .category {color:#666666;}
.ModuleMember .select {color:#78BD37;}
.ModuleMember .save {font-famliy:verdana; font-size:11px; font-weight:bold; color:#0060FF;}
.ModuleMember .use {font-famliy:verdana; font-size:11px; font-weight:bold; color:#EF0000;}

.ModuleMember .pagenav {width:100%; height:26px; text-align:center;}
.ModuleMember .pagenav STRONG {display:inline-block; text-align:center; padding:3px 5px 3px 5px; margin:0px 0px 0px 3px; font-size:11px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; color:#FA6F46; border:1px solid #E9E9E9;}
.ModuleMember .pagenav A:link {display:inline-block; text-align:center; padding:3px 5px 3px 5px; margin:0px 0px 0px 3px; font-size:11px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; color:#6D6D6D; border:1px solid #E9E9E9; text-decoration:none;}
.ModuleMember .pagenav A:hover {display:inline-block; text-align:center; padding:3px 5px 3px 5px; margin:0px 0px 0px 3px; font-size:11px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; color:#6D6D6D; border:1px solid #E9E9E9; background:#F4F4F4; text-decoration:none;}
.ModuleMember .pagenav A:visited {display:inline-block; text-align:center; padding:3px 5px 3px 5px; margin:0px 0px 0px 3px; font-size:11px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; color:#6D6D6D; border:1px solid #E9E9E9; text-decoration:none;}
.ModuleMember .pagenav A:active {display:inline-block; text-align:center; padding:3px 5px 3px 5px; margin:0px 0px 0px 3px; font-size:11px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; color:#6D6D6D; border:1px solid #E9E9E9; text-decoration:none;}
.ModuleMember .pagenav SPAN {display:inline-block; text-align:center; padding:3px 5px 3px 5px; margin:0px 0px 0px 3px; font-size:11px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; color:#DDDDDD; border:1px solid #E9E9E9; text-decoration:none;}