/* Error */
DIV.errorArea {background:#2F2F2F; width:500px; margin:100px auto;}
TR.errorTitleArea {height:80px; background:#000000;}
DIV.errorTitle {width:440px; height:80px; margin:0 auto; background:url(../images/common/error_title.gif);}
DIV.passwordTitle {width:440px; height:80px; margin:0 auto; background:url(../images/common/password_title.gif);}
DIV.confirmTitle {width:440px; height:80px; margin:0 auto; background:url(../images/common/confirm_title.gif);}
.errorBox {color:#CCCCCC; font-weight:bold; font-size:14px; line-height:200%; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; width:420px; padding:10px; margin:15px auto; border:5px solid #4F4F4F; background:#000000;}
.errorBox .inputbox {border:2px solid #4F4F4F; background:#2F2F2F; color:#EEEEEE; font-family:verdana; font-size:16px; padding:3px; width:290px; height:18px;}
.errorBox LABEL {cursor:pointer;}
.errorButton {margin:10px 5px 0px 5px; border-top:1px dashed #4F4F4F; text-align:center; font:0/0 arial; padding-top:10px;}
.errorButton IMG {margin-left:5px;}