.RecentlyWebzine .board_title {font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; font-size:14px; font-weight:bold; height:25px; vertical-align:top; padding-top:3px;}
.RecentlyWebzine .board_title A {text-decoration:none; color:#000000;}
.RecentlyWebzine .board_title A:HOVER {text-decoration:underline;}

.RecentlyWebzine .title {height:18px; font-size:11px; font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; color:#EF0000; vertical-align:top;}
.RecentlyWebzine .title A {text-decoration:none; color:#EF0000;}
.RecentlyWebzine .title A:HOVER {text-decoration:underline;}
.RecentlyWebzine .image {vertical-align:top; font:0/0 arial; padding-top:2px;}
.RecentlyWebzine .body {font-family:NanumGothicWeb, AppleGothic, "malgun gothic", dotum; font-size:11px; line-height:1.6; text-align:justify; padding:0px 0px 10px 0px; color:#666666; vertical-align:top;}

.RecentlyWebzine .date {text-align:right; color:#666666; font-family:tahoma; font-size:9px;}

.RecentlyWebzine .comment {color:#EF0000; font-family:tahoma; font-size:9px; font-weight:normal;}