#AutoSaverAlertBox {position:absolute; font-family:NanumGothicWeb; font-size:12px; float:left; padding:8px; background:#C10000; color:#FFFF80; z-index:1000;}

.ModuleRelease .releaseTable {width:100%; table-layout:fixed; font-family:NanumGothicWeb; font-size:12px;}
.ModuleRelease .releaseTable .sectionTitle {height:30px; font-family:NanumGothicWeb; font-size:16px; font-weight:bold;}
.ModuleRelease .releaseTable .sectionBar {background:#a4b4cd; height:2px; overflow:hidden;}
.ModuleRelease .releaseTable .sectionEnd {height:3px; background:#E5E5E5; overflow:hidden;}
.ModuleRelease .releaseTable .sectionEnd DIV {height:1px; overflow:hidden; border-bottom:2px solid #f4f4f4;}
.ModuleRelease .releaseTable .splitBar {background:#cfdbe7; height:1px; overflow:hidden;}
.ModuleRelease .releaseTable .logoCell {font:0/0 arial; background:#f8f8f9;}
.ModuleRelease .releaseTable .logoCell IMG {width:153px; height:153px; border:1px solid #cfdbe7; border-left:0px;}
.ModuleRelease .releaseTable .headerCell {height:36px; padding:0px; font-weight:bold; background:#f8f8f9; color:#758191; text-align:center;}
.ModuleRelease .releaseTable .headerCell A {color:#758191; text-decoration:none;}
.ModuleRelease .releaseTable .headerCell A:HOVER {text-decoration:underline;}
.ModuleRelease .releaseTable .noticeCell {background:#f4f4f4;}
.ModuleRelease .releaseTable .numberCell {text-align:center; font-family:tahoma; font-size:10px;}
.ModuleRelease .releaseTable .numberCell IMG {vertical-align:middle; margin-bottom:2px;}
.ModuleRelease .releaseTable .titleCell {height:34px;}
.ModuleRelease .releaseTable .titleCell DIV {padding:0px 8px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; height:14px;}
.ModuleRelease .releaseTable .titleCell DIV A {text-decoration:none; color:#083772;}
.ModuleRelease .releaseTable .titleCell DIV A:HOVER {text-decoration:underline;}
.ModuleRelease .releaseTable .titleCell DIV IMG {vertical-align:middle;}
.ModuleRelease .releaseTable .titleCell .ment {font-family:tahoma; font-size:10px; color:#FA6F46;}
.ModuleRelease .releaseTable .nicknameCell {padding:0px 5px 0px 5px; text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.ModuleRelease .releaseTable .countCell {text-align:right; font-family:tahoma; font-size:10px; padding-right:5px;}
.ModuleRelease .releaseTable .fileCell {height:16px; padding:8px;}
.ModuleRelease .releaseTable .fileCell A {color:#083772; text-decoration:none;}
.ModuleRelease .releaseTable .fileCell A:HOVER {font-weight:bold; color:#083772; text-decoration:underline;}
.ModuleRelease .releaseTable .introCell {vertical-align:top;}
.ModuleRelease .releaseTable .introCell DIV {padding:5px; font-size:11px; color:#666666; line-height:1.6; height:34px; overflow:hidden; text-overflow:ellipsis;}
.ModuleRelease .releaseTable .bodyCell {padding:8px;}
.ModuleRelease .releaseTable .bodyCell DIV {height:16px; line-height:16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.ModuleRelease .releaseTable .bodyCell DIV IMG {vertical-align:middle;}
.ModuleRelease .releaseTable .bodyCell DIV A {color:#083772; text-decoration:none;}
.ModuleRelease .releaseTable .bodyCell DIV A:HOVER {font-weight:bold; color:#083772; text-decoration:underline;}
.ModuleRelease .releaseTable .bodyCell INPUT {border:1px solid #CCCCCC; font-family:NanumGothicWeb; font-size:12px; padding:0px 2px 0px 2px; height:20px; line-height:18px;}
.ModuleRelease .releaseTable .viewTitleCell {height:36px; padding:0px; font-weight:bold; background:#f8f8f9;}
.ModuleRelease .releaseTable .viewTitleCell h4 {display:block; color:#222222; padding-left:8px; padding-right:8px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.ModuleRelease .releaseTable .mentCell {background:#f8f8f9; padding-left:5px; padding-right:5px;}
.ModuleRelease .releaseTable .mentCell DIV {height:16px; line-height:16px;}
.ModuleRelease .releaseTable .mentCell DIV A {color:#083772; text-decoration:none;}
.ModuleRelease .releaseTable .mentCell DIV A:HOVER {font-weight:bold; color:#083772; text-decoration:underline;}
.ModuleRelease .releaseTable .mentContentCell DIV.mentContent {padding:10px;}
.ModuleRelease .releaseTable .sectionInfo {padding:10px; background:#f8f8f9; line-height:1.6; color:#758191;}

.ModuleRelease .downloadButton {background:url(./images/btn_download.gif); padding:32px 0px 0px 52px; height:37px; font-family:tahoma; font-size:12px; line-height:1.6; cursor:pointer; margin:3px 0px 3px 0px;}

.ModuleRelease .searchbox {width:300px; height:26px; border:2px solid #51AF10; font:0/0 arial; position:relative;}
.ModuleRelease .searchbox DIV {display:inline-block; vertical-align:middle;}
.ModuleRelease .searchbox DIV.key {font-size:12px; font-family:NanumGothicWeb; width:80px; height:24px; cursor:pointer; background:url(./images/search_arrow.png) no-repeat right top; line-height:24px; padding-left:8px; border:1px solid #51AF10; border-right:0px;}
.ModuleRelease .searchbox .inputbox {width:182px; height:18px; border:1px solid #51AF10; border-left:0px; padding:3px 0px 3px 3px; margin:0px;font-size:12px; font-weight:bold; font-family:NanumGothicWeb;}
.ModuleRelease .searchbox .buttonbox {width:25px; height:26px; background-image:url(./images/btn_search.gif); background-repeat:repeat; float:right; border:0px; cursor:pointer; background-position:0px 0px;}
.ModuleRelease .searchbox .buttonbox:hover {background-position:0px 22px;}
.ModuleRelease .searchbox .keylist {position:absolute; top:25px; left:0px; z-index:10; width:87px; border:1px solid #c8c8c8; border-top:0px; background:#ffffff;}
.ModuleRelease .searchbox .keylist DIV {font-family:NanumGothicWeb; margin:1px; display:block; font-size:12px; padding:5px 5px 5px 7px; cursor:pointer;}
.ModuleRelease .searchbox .keylist DIV.hover {background:#e5e5e5;}

.ModuleRelease .searchbox .livelist {position:absolute; width:185px; top:25px; left:88px; z-index:100; border:1px solid #C8C8C8; border-top:0px; background:#FFFFFF; font-size:12px; font-family:NanumGothicWeb; color:#888888;}
.ModuleRelease .searchbox .livelist DIV {display:block; padding:5px 3px 5px 3px; margin:2px; cursor:pointer;}
.ModuleRelease .searchbox .livelist DIV:hover {padding:5px 3px 5px 3px; margin:2px; background:#E5E5E5; cursor:pointer;}

.ModuleRelease .deleteMent {border:1px solid #F4EE8A; background:#FDFBD0; color:#FB5312; font-family:NanumGothicWeb; font-size:12px; padding:5px; text-align:center; line-height:1.6;}
.ModuleRelease .selectMent {background:#FFFFEC; border:1px solid #cccccc;}
.ModuleRelease .mainMent {}
.ModuleRelease .replyMent {border-left:1px dashed #cccccc;}

.ModuleRelease UL.filelist {list-style-type:none; background:#F4F4F4; border:1px solid #E5E5E5; color:#4F4F4F;}
.ModuleRelease UL.filelist LI {margin:5px; font-family:verdana, NanumGothicWeb, AppleGothic, "malgun gothic", dotum; font-size:11px; background:url(./images/icon_file.gif) no-repeat 0 50%; padding-left:15px; height:14px; line-height:14px;}
.ModuleRelease .filelist A:link {text-decoration:none; color:#4F4F4F;}
.ModuleRelease .filelist A:hover {text-decoration:underline; color:#2F2F2F;}
.ModuleRelease .filelist A:visited {text-decoration:none; color:#4F4F4F;}
.ModuleRelease .filelist A:active {text-decoration:none; color:#4F4F4F;}

.ModuleRelease .sPhoto {padding:3px; background:#f8f8f9; font:0/0 arial;}
.ModuleRelease .sPhoto IMG {width:35px; height:35px; border:1px solid #a4b4cd;}

.ModuleRelease .photo {padding:8px; background:#f8f8f9; font:0/0 arial;}
.ModuleRelease .photo IMG {width:90px; height:90px; border:2px solid #a4b4cd;}

.ModuleRelease .email {background:url(./images/icon_email.png) no-repeat 0 50%; font-family:tahoma; font-size:10px; padding-left:20px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-weight:bold;}
.ModuleRelease .homepage {background:url(./images/icon_homepage.png) no-repeat 0 50%; font-family:tahoma; font-size:10px; padding-left:20px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-weight:bold;}
.ModuleRelease .disabled {opacity:0.5;}

.ModuleRelease .iconIMG {background:url(./images/icon_image.png) no-repeat 5px 50%; padding-left:25px !important;}
.ModuleRelease .iconSND {background:url(./images/icon_sound.png) no-repeat 5px 50%; padding-left:25px !important;}
.ModuleRelease .iconMOV {background:url(./images/icon_movie.png) no-repeat 5px 50%; padding-left:25px !important;}
.ModuleRelease .iconTXT {background:url(./images/icon_text.png) no-repeat 5px 50%; padding-left:25px !important;}
.ModuleRelease .iconETC {background:url(./images/icon_text.png) no-repeat 5px 50%; padding-left:25px !important;}

.ModuleRelease .exp {table-layout:fixed; width:53px; height:11px;}
.ModuleRelease .exp .start {background:url(./images/expbar_start.gif) repeat-x 50%;}
.ModuleRelease .exp .on {background:url(./images/expbar_exp.gif) repeat-x 50%;}
.ModuleRelease .exp .off {background:url(./images/expbar_remain.gif) repeat-x 50%;}
.ModuleRelease .exp .end {background:url(./images/expbar_end.gif) repeat-x 50%;}

.ModuleRelease .optionarea {border:1px dotted #CCCCCC; background:#F4F4F4; padding:3px; margin:5px 0px 5px 0px;}
.ModuleRelease .checkbox {clear:both; height:14px; padding:3px; margin:5px 0px 5px 0px;}
.ModuleRelease .checkbox INPUT {width:13px; height:13px; margin:0px 8px 0px 0px; float:left;}
.ModuleRelease .checkbox LABEL {float:left; height:13px; cursor:pointer; font-family:NanumGothicWeb; font-size:12px; display:block; padding:0px;}

.ModuleRelease .antispam {font-family:NanumGothicWeb; font-size:11px; line-height:1.6;}
.ModuleRelease .antispam INPUT {border:1px solid #D6D6D6; height:14px; padding:3px; background:url(./images/inputbox_bg.gif) repeat-x top; font-family:NanumGothicWeb; font-size:12px; color:#4F4F4F;}

.ModuleRelease .pageinfo {text-align:center; font-family:verdana; color:#2F2F2F; font-size:10px;}