BODY {margin:0; background:url(./images/backLine.png); color:#000000; -webkit-user-select:none; -webkit-text-size-adjust:none; overflow-x:hidden;}
FORM {margin:0px; padding:0px;}

/* ToolBar */
.ModuleBoard #toolbar {top:0px; left:0px; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-bottom:1px solid #2d3642; padding:11px 10px; height:45px; background:url(./images/toolbar.png) #6d84a2 repeat-x;}
.ModuleBoard #toolbar H1 {position:absolute; overflow:hidden; left:50%; margin:1px 0 0 -75px; height:45px; font-size:18px; width:150px; font-weight:bold; text-shadow:rgba(0, 0, 0, 0.4) 0px -1px 0; text-align:center; text-overflow:ellipsis; white-space:nowrap; color:#FFFFFF;}

/* ToolButtons */
.ModuleBoard #backButton {left:6px; right:auto; padding:0; max-width:55px; border-width:0 8px 0 14px; -webkit-border-image:url(./images/backButton.png) 0 8 0 14;}
.ModuleBoard .button {position:absolute; overflow:hidden; top:8px; right:6px; margin:0; border-width:0 5px; padding:0 3px; width:auto; height:30px; line-height:30px; font-size:12px; font-weight:bold; color:#FFFFFF; text-shadow:rgba(0, 0, 0, 0.6) 0px -1px 0; text-overflow:ellipsis; text-decoration:none; white-space:nowrap; background:none; -webkit-border-image:url(./images/toolButton.png) 0 5 0 5;}
.ModuleBoard .grayButton {-webkit-border-image:url(./images/grayButton.png) 0 12 0 12; color:#FFFFFF;}

/* Content */
.ModuleBoard #content {width:100%; padding:0px; margin:0px;}
.ModuleBoard #content.whiteBg {background:#FFFFFF !important;}
.ModuleBoard #content .viewTitle {padding:8px; background:#E5E5E5; font-size:16px; border-bottom:1px solid #CCCCCC;}
.ModuleBoard #content .viewTitle .viewTitleText {font-wight:bold; margin-bottom:5px; line-height:1.4; word-break:break-all !important; font-weight:bold;}
.ModuleBoard #content .viewTitle .viewTitleInfo {color:#666666; font-size:14px; line-height:16px; height:16px;}
.ModuleBoard #content .viewTitle .viewTitleInfo IMG {vertical-align:absmiddle;}
.ModuleBoard #content .viewContent {padding:8px; border-bottom:1px solid #E0E0E0; word-break:break-all !important; font-weight:normal;}
.ModuleBoard #content .viewMentBody {padding:12px 10px 12px 10px; border-bottom:1px solid #E0E0E0; font-size:16px; position:relative;}
.ModuleBoard #content .viewMentBody .reply {width:7px; height:7px; background:url(./images/icon_ment_reply.png); position:absolute; top:13px; left:-10px;}
.ModuleBoard #content .viewMentBody .mentdelete {background:#FDFBD0; color:#FB5312; font-size:14px; padding:6px 10px 6px 10px; margin:-12px -10px -12px -10px; line-height:1.6; border-top:1px solid #F4EE8A; border-bottom:1px solid #F4EE8A;}
.ModuleBoard #content .viewMent DIV {font-size:14px !important; margin:-12px 10px -12px -10px; padding:5px;}
.ModuleBoard #content .viewMent DIV P {margin:0px;}
.ModuleBoard #content .viewMentInfo {color:#666666; font-size:14px; line-height:16px; height:12px; text-align:right;}
.ModuleBoard #content .viewMentLink {margin-top:5px; text-align:right; font-size:14px;}
.ModuleBoard #content .viewMentLink A {color:#000000; text-decoration:none;}

/* List */
.ModuleBoard UL LI {position:relative; margin:0; border-bottom:1px solid #E0E0E0; padding:12px 0 12px 10px; font-size:16px; font-weight:normal; list-style:none;}
.ModuleBoard UL LI A {display:block; margin:-12px 0 -12px -10px; padding:12px 32px 12px 10px; text-decoration:none; color:inherit; background:url(./images/listArrow.png) no-repeat right center;}
.ModuleBoard UL LI A:ACTIVE {background-color:#194fdb !important; background-image:url(./images/listArrowSel.png), url(./images/selection.png) !important; background-repeat:no-repeat, repeat-x; background-position:right center, left top; color:#FFFFFF !important;}
.ModuleBoard UL LI A SPAN.listTitle {display:block; margin-right:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.ModuleBoard UL LI A SPAN.listMent {position:absolute; top:13px; right:30px; color:#EF5600; font-size:12px;}
.ModuleBoard UL LI.group {position:relative; top:-1px; margin-bottom:-2px; border-top:1px solid #7d7d7d; border-bottom:1px solid #999999; padding:1px 10px; background:url(./images/listGroup.png) repeat-x; font-size:17px; font-weight:bold; text-shadow:rgba(0, 0, 0, 0.4) 0 1px 0; color:#FFFFFF;}

/* PageNav */
.ModuleBoard .pagenav {width:100%; text-align:center; margin-top:10px;}
.ModuleBoard .pagenav STRONG {display:inline-block; text-align:center; padding:5px 8px 5px 8px; margin:0px 0px 0px 3px; font-size:14px; color:#FA6F46; border:1px solid #E9E9E9;}
.ModuleBoard .pagenav A:link {display:inline-block; text-align:center; padding:5px 8px 5px 8px; margin:0px 0px 0px 3px; font-size:14px; color:#6D6D6D; border:1px solid #E9E9E9; text-decoration:none;}
.ModuleBoard .pagenav A:hover {display:inline-block; text-align:center; padding:5px 8px 5px 8px; margin:0px 0px 0px 3px; font-size:14px; color:#6D6D6D; border:1px solid #E9E9E9; background:#F4F4F4; text-decoration:none;}
.ModuleBoard .pagenav A:visited {display:inline-block; text-align:center; padding:5px 8px 5px 8px; margin:0px 0px 0px 3px; font-size:14px; color:#6D6D6D; border:1px solid #E9E9E9; text-decoration:none;}
.ModuleBoard .pagenav A:active {display:inline-block; text-align:center; padding:5px 8px 5px 8px; margin:0px 0px 0px 3px; font-size:14px; color:#6D6D6D; border:1px solid #E9E9E9; text-decoration:none;}
.ModuleBoard .pagenav SPAN {display:inline-block; text-align:center; padding:5px 8px 5px 8px; margin:0px 0px 0px 3px; font-size:14px; color:#DDDDDD; border:1px solid #E9E9E9; text-decoration:none;}

/* Searchbar */
.ModuleBoard .searchbox {width:70%; margin:10px auto; border:2px solid #3B940B;}
.ModuleBoard .searchbox INPUT {-webkit-appearance:none;-webkit-border-radius:0; width:34px; height:30px;}
.ModuleBoard .searchbox INPUT[type="search"] {display:block; width:100%; height:30px; border:1px solid #3B940B; border-right:0px; padding:0px 5px 0px 5px; line-height:28px;}

/* Menubar */
.ModuleBoard #menubar {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-bottom:1px solid #2d3642; border-top:1px solid #6d84a2; padding:10px; height:48px; background:url(./images/menubar.png) #6d84a2 repeat-x;}

/* Form */
.ModuleBoard .titlebox {color:#4C566C; text-shadow:rgba(255, 255, 255, 0.4) 1px 1px 0; font-size:18px; padding:5px 0px 0px 10px;}
.ModuleBoard .errorbox {border:1px solid #560000; background:#FFB8B8; border-radius:8px; padding:8px 0px 8px 0px; text-shadow:rgba(255, 255, 255, 0.4) 1px 1px 0; margin:8px; padding:10px;}
.ModuleBoard .inputbox {border:1px solid #AFAFAF; border-radius:8px; padding:8px 0px 8px 0px; background:#FFFFFF; margin:8px;}
.ModuleBoard .inputbox .center {height:40px;}
.ModuleBoard .inputbox .header {height:29px; line-height:29px; font-size:16px; color:#666666; padding-left:8px;}
.ModuleBoard .inputbox .input {height:29px; padding-right:8px;}
.ModuleBoard .inputbox .input INPUT {border:0px; height:29px; line-height:29px; font-size:16px; width:100%; -webkit-appearance:none;-webkit-border-radius:0;}
.ModuleBoard .inputbox .input SELECT {width:100%; height:29px; line-height:29px; border:0px; font-size:16px; -webkit-appearance:none;-webkit-border-radius:0;}
.ModuleBoard .inputbox .check {padding-left:8px;}
.ModuleBoard .inputbox .check INPUT {width:16px; height:16px;}
.ModuleBoard .inputbox .textarea {padding:0px 8px 0px 8px;}
.ModuleBoard .inputbox .textarea TEXTAREA {border:1px; width:100%; height:150px; font-size:16px; line-height:1.6; -webkit-appearance:none;-webkit-border-radius:0;}
.ModuleBoard .inputbox .line {background:#FFFFFF; height:17px; overflow:hidden;}
.ModuleBoard .inputbox .line DIV {height:1px; overflow:hidden; background:#AFAFAF;margin:8px 0px 8px 0px;}
.ModuleBoard .submitbox {padding:3px 8px 10px 8px;}
.ModuleBoard .submitbox INPUT[type="submit"] {display:block; width:100%; height:29px; line-height:29px; font-size:16px;}