#sForm .stepbar {height:60px; padding:20px; margin:3px 0px 10px 0px; background:url(./images/stepbar.gif);}
#sForm .steptitlebar {height:28px; font:0/0 arial; background:url(./images/steptitlebar.gif);}
#sForm .box {padding:15px; height:250px; border:2px solid #E5E5E5; overflow-y:scroll;}
#sForm .buttonbox {margin:15px; text-align:center; font:0/0 arial;}
#sForm .buttonbox IMG {margin-left:5px;}
#sForm LABEL {cursor:pointer; font-family:NanumGothicWeb; font-size:12px;}

#sForm .realnamebox {padding:15px; border:2px solid #E5E5E5;}
#sForm .realnameinfo {border-top:1px solid #E5E5E5; margin-top:15px; padding:20px; line-height:160%; font-family:NanumGothicWeb; font-size:12px;}
#sForm .pointText {color:#FF6C00; font-size:14px;}

#sForm .checkbox {padding:15px; border:2px solid #E5E5E5; font-family:NanumGothicWeb; font-size:14px; line-height:160%;}

#sForm .inputbox {border:2px solid #CCCCCC; font-family:NanumGothicWeb; font-size:14px; font-weight:bold; height:16px; padding:3px;}
#sForm .inputboxon {border:2px solid #2F2F2F; font-family:NanumGothicWeb; font-size:14px; font-weight:bold; height:16px; padding:3px;}

#sForm .boldline {height:2px; background:#E5E5E5; overflow:hidden;}
#sForm .inputicon {background:#F9F9F9; text-align:center; font:0/0 arial;}
#sForm .inputtext {background:#F9F9F9; font-family:NanumGothicWeb; font-size:12px; font-weight:bold;}
#sForm .inputline {background:#EDEDED;}
#sForm .inputform {padding:5px 0px 5px 8px;}
#sForm .inputform .inputbox {border:1px solid #CCCCCC; font-family:NanumGothicWeb; font-weight:normal; font-size:12px; height:14px; padding:4px;}
#sForm .inputform .inputboxon {border:2px solid #2F2F2F; font-family:NanumGothicWeb; font-weight:normal; font-size:12px; height:14px; padding:3px;}
#sForm .disable {background:#F4F4F4;}

#sForm .inputform .inputboxnum {border:1px solid #CCCCCC; font-family:NanumGothicWeb; font-weight:normal; font-size:12px; height:14px; padding:2px;}
#sForm .inputform .inputboxnumon {border:1px solid #2F2F2F; font-family:NanumGothicWeb; font-weight:normal; font-size:12px; height:14px; padding:2px;}

#sForm .inputrow {height:1px; background:#E5E5E5; overflow:hidden;}
#sForm .inputform .msg {margin-top:5px; font-family:NanumGothicWeb; font-size:11px;}
#sForm .inputform .msgerror {color:#FF8080; margin-top:5px; font-family:NanumGothicWeb; font-size:11px;}
#sForm .inputform .msgtrue {color:#84C1FF; margin-top:5px; font-family:NanumGothicWeb; font-size:11px;}

#sForm .innerbox {margin:5px 5px 5px 0px; padding:10px; width:400px; background:#F4F4F4; border:1px solid #E5E5E5;}
#sForm .innerbox .text {font-family:verdana; font-size:10px; color:#666666; font-weight:bold;}
#sForm .innerbox .title {font-family:NanumGothicWeb; font-size:12px;}

#sForm .selectbox {}
#sForm .selectbox .text {font-family:NanumGothicWeb; font-size:12px; border:1px solid #C8C8C8; border-right:0px; height:16px; color:#2F2F2F; background:#FFFFFF; padding:2px 0px 0px 2px; float:left; cursor:pointer;}
#sForm .selectbox .button {background:url(./images/selectbox_arrow.gif); width:19px; height:20px; float:left; cursor:pointer;}
#sForm .selectbox .listbox {position:relative; clear:both;}
#sForm .selectbox .list {position:absolute; z-index:100; top:-1px; left:0px; border:1px solid #C8C8C8; background:#FFFFFF;}
#sForm .selectbox .list .item {font-family:NanumGothicWeb; font-size:12px; padding:3px; margin:2px; cursor:pointer;}
#sForm .selectbox .list .item:hover {font-family:NanumGothicWeb; font-size:12px; padding:3px; margin:2px; background:#E5E5E5; cursor:pointer;}

#sForm .textbox {border:2px solid #CCCCCC; font-family:NanumGothicWeb; font-size:14px; font-weight:bold; width:80%; height:200px; padding:3px;}
#sForm .textboxon {border:2px solid #2F2F2F; font-family:NanumGothicWeb; font-size:14px; font-weight:bold; width:80%; height:200px; padding:3px;}

#sForm .list {font-family:NanumGothicWeb; font-size:12px;}