.ModuleMemberSignInDefault .memberTable {width:100%; table-layout:fixed; font-size:12px;}
.ModuleMemberSignInDefault .memberTable .sectionTitle {height:30px; font-size:16px; font-weight:bold;}
.ModuleMemberSignInDefault .memberTable .sectionTitle DIV.tab {height:29px; border-bottom:1px solid #6e87af; font:0/0 arial;}
.ModuleMemberSignInDefault .memberTable .sectionTitle DIV.tab A {text-decoration:none; float:left; display:inline-block; height:28px; line-height:30px; padding:0px 10px 0px 10px; border:1px solid transparent; border-bottom:1px solid #6e87af; font-size:12px; color:#000000; margin-right:2px;}
.ModuleMemberSignInDefault .memberTable .sectionTitle DIV.tab A:hover {background:#e5e5e5;}
.ModuleMemberSignInDefault .memberTable .sectionTitle DIV.tab A.selected {color:#ffffff !important; background:#a4b4cd !important; border-color:#6e87af; border-bottom:1px solid #a4b4cd;}
.ModuleMemberSignInDefault .memberTable .sectionInfo {padding:10px; background:#f8f8f9; line-height:1.6; color:#758191;}
.ModuleMemberSignInDefault .memberTable .sectionInfo A {font-weight:bold; color:#083772; text-decoration:none;}
.ModuleMemberSignInDefault .memberTable .sectionInfo A:HOVER {font-weight:bold; color:#083772; text-decoration:underline;}
.ModuleMemberSignInDefault .memberTable .sectionBar {background:#a4b4cd; height:2px; overflow:hidden;}
.ModuleMemberSignInDefault .memberTable .sectionLineEnd {height:4px; background:#E5E5E5; overflow:hidden;}
.ModuleMemberSignInDefault .memberTable .sectionLineEnd DIV {height:1px; overflow:hidden; border-top:1px solid #cfdbe7; border-bottom:2px solid #f4f4f4;}
.ModuleMemberSignInDefault .memberTable .sectionEnd {height:3px; background:#E5E5E5; overflow:hidden;}
.ModuleMemberSignInDefault .memberTable .sectionEnd DIV {height:1px; overflow:hidden; border-bottom:2px solid #f4f4f4;}
.ModuleMemberSignInDefault .memberTable .splitBar {background:#cfdbe7; height:1px; overflow:hidden;}
.ModuleMemberSignInDefault .memberTable .couponTitle {margin:3px 0px 3px 0px; font-weight:bold; font-size:14px;}
.ModuleMemberSignInDefault .memberTable .couponInfo {margin:5px 0px 5px 0px; background:#f4f4f4; padding:5px; height:36px; line-height:1.6; color:#666666; overflow:hidden;}
.ModuleMemberSignInDefault .memberTable .headerCell {height:36px; padding:0px 10px 0px 10px; font-weight:bold; background:#f8f8f9; color:#758191;}
.ModuleMemberSignInDefault .memberTable .bodyCell {padding:12px;}
.ModuleMemberSignInDefault .memberTable .bodyCell IMG {vertical-align:middle;}
.ModuleMemberSignInDefault .memberTable .bodyCell .input {margin-top:-6px; margin-bottom:-6px; vertical-align:middle;}
.ModuleMemberSignInDefault .memberTable .bodyCell .inputTag {margin-top:-6px; margin-bottom:-6px;}
.ModuleMemberSignInDefault .memberTable .bodyCell .help-block {padding-top:10px;}
.ModuleMemberSignInDefault .memberTable .bodyCell .drop {margin-top:-6px; margin-bottom:-6px; vertical-align:middle;}
.ModuleMemberSignInDefault .memberTable .bodyCell A {font-weight:bold; color:#083772; text-decoration:none;}
.ModuleMemberSignInDefault .memberTable .bodyCell A:HOVER {font-weight:bold; color:#083772; text-decoration:underline;}
.ModuleMemberSignInDefault .memberTable .multiBodyCell {padding:10px 12px 10px 12px; line-height:1.6;}
.ModuleMemberSignInDefault .memberTable .multiBodyCell A {margin-left:5px; font-weight:bold; color:#083772; text-decoration:none;}
.ModuleMemberSignInDefault .memberTable .multiBodyCell A:HOVER {font-weight:bold; color:#083772; text-decoration:underline;}
.ModuleMemberSignInDefault .memberTable .divSection {padding:10px;}
.ModuleMemberSignInDefault .memberTable .divSection .title {font-size:12px; font-weight:bold;}
.ModuleMemberSignInDefault .memberTable .divSection .content {color:#6a9ee9; text-align:center; height:50px; line-height:50px;}
.ModuleMemberSignInDefault .memberTable .buttonList {margin-top:10px;}
.ModuleMemberSignInDefault .memberTable .buttonList A {float:right; margin-left:5px;}
.ModuleMemberSignInDefault .memberTable .point {color:#EF5600; font-weight:bold;}

.ModuleMemberSignInDefault .essential {display:inline-block; background:url(./images/icon_essential.gif) no-repeat 0 50%; white-space:nowrap; padding-left:12px;}

.ModuleMemberSignInDefault .stepbar {height:60px; padding:20px; margin:3px 0px 10px 0px; background:url(./images/stepbar.gif);}
.ModuleMemberSignInDefault .agreebox {padding:15px; margin:-10px; height:250px; overflow-y:scroll;}

.ModuleMemberSignInDefault .realnameinfo {border-top:1px solid #E5E5E5; margin-top:15px; padding:20px; line-height:160%; font-size:12px;}
.ModuleMemberSignInDefault .finishbox {padding:15px; border:2px solid #E5E5E5; font-family:NanumGothicWeb; font-size:12px; line-height:160%;}

.ModuleMemberSignInDefault  .pointText {color:#FF6C00; font-size:12px;}